
@{
    ViewBag.Title = "inicio";
    Layout = "~/Views/Shared/_EstructuraVistaWeb.cshtml";
}

@section title  {
    <title>Complejo de cines</title>
    }
@section body
    {
<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="page-header">
                <h3>Peliculas disponibles</h3>
            </div>
            
            
              <p>aca irìa la lista lista de peliculas disponibles</p>
            <div class="slider4">
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar1"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar2"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar3"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar4"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar5"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar6"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar7"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar8"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar9"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar10"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar11"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar12"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar13"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar14"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar15"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar16"></div>
                <div class="slide"><img src="http://placehold.it/300x150&text=FooBar17"></div>
            </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        <button type="button" onclick="location.href='@Url.Action("reserva", "Peliculas")'" class="btn btn-primary">Reservar</button>
                    </div>
                </div>
          
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
    }



