
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title  {
    <title>Complejo de cines</title>
}

@section header
            {
    <div class="page-header">
        <h3>Películas disponibles</h3>
    </div>
}

@section body
    {
 
    <div>
        Lista de peliculas
    </div>


}
