
@{
    ViewBag.Title = "inicio";
    Layout = "~/Views/Shared/_EstructuraVistaWeb.cshtml";
}

@section title  {
    <title>Administración de carteleras</title>
}
@section header
{
<div class="page-header">
    <h3>Gestión de carteleras</h3>
</div>
}
@section body
    {
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">Seleccione una opcion</a></li>
                    <li>@Html.ActionLink("Nueva cartelera", "crearCartelera", "Administracion", null, null)</li>
                    <li>@Html.ActionLink("Modificar cartelera", "modificarCartelera", "Administracion", null, null)</li>
                    <li>@Html.ActionLink("Eliminar cartelera", "eliminarCartelera", "Administracion", null, null)</li>

                </ul>
                <button type="button" onclick="location.href='@Url.Action("menuPrincipal", "Administracion")'" class="btn btn-default">Volver</button>

}



