
@{
    ViewBag.Title = "inicio";
    Layout = "~/Views/Shared/_EstructuraVistaWeb.cshtml";
}

@section title  {
    <title>Administración de carteleras</title>
}
@section body
    {
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="page-header">
                    <h3>Nueva cartelera</h3>
                </div>
                <button type="button" onclick="location.href='@Url.Action("carteleras", "Administracion")'" class="btn btn-default">Volver</button>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
}



