
@{
    ViewBag.Title = "inicio";
    Layout = "~/Views/Shared/_EstructuraVistaWeb.cshtml";
}

@section title  {
    <title>Administración de carteleras</title>
}
@section header
            {
    <div class="page-header">
        <h3>Nueva cartelera</h3>
    </div>
}
@section body
    {
        

}



