
@{
    ViewBag.Title = "inicio";
    Layout = "~/Views/Shared/_EstructuraVistaWeb.cshtml";
}

@section title  {
    <title>Administración de sedes</title>
}
@section body
    {
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="page-header">
                    <h3>Nueva Sede</h3>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
}



