
@{
    ViewBag.Title = "inicio";
    Layout = "~/Views/Shared/_EstructuraVistaWeb.cshtml";
}

@section title  {
    <title>Administración de sedes</title>
}
@section header
{
<div class="page-header">
    <h3>Información de nueva sede</h3>
</div>
}
@section body
    {
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Nombre">Nombre</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="Nombre" placeholder="Ingrese nombre de sede " name="nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="direccion">Dirección</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="direccion" placeholder="Ingrese dirección de sede" name="direccion">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="valor">Precio entrada general</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="valor" placeholder="Ingrese valor de entrada general" name="valor">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="buttons"></label>
                            <div class="col-sm-2">
                                <button type="button" onclick="location.href='@Url.Action("crearSede", "Administracion")'" class="btn btn-default">Agregar sede</button>
                                
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" onclick="location.href='@Url.Action("sedes", "Administracion")'" class="btn btn-default">Volver</button>
                        </div>
                    </form>

}



