
@{
    ViewBag.Title = "inicio";
    Layout = "~/Views/Shared/_EstructuraVistaWeb.cshtml";
}

@section title  {
    <title>Administración de carteleras</title>
}
@section header
{
<div class="page-header">
    <h3>Eliminar cartelera</h3>
</div>
}
@section body
    {

                <button type="button" onclick="location.href='@Url.Action("carteleras", "Administracion")'" class="btn btn-default">Volver</button>
    
}



