
@{
    ViewBag.Title = "inicio";
    Layout = "~/Views/Shared/_EstructuraVistaWeb.cshtml";
}

@section title  {
    <title>Administracion</title>
}
@section header
{
    <div class="page-header">
        <h3>Bienvenido administrador</h3>
     </div>
}
        @section body
    {
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="#">Seleccione una opcion</a></li>
                            <li>@Html.ActionLink("Películas", "peliculas", "Administracion", null, null)</li>
                            <li>@Html.ActionLink("Carteleras", "carteleras", "Administracion", null, null)</li>
                            <li>@Html.ActionLink("Sedes", "sedes", "Administracion", null, null)</li>
                            <li>@Html.ActionLink("Reservas", "reportes", "Administracion", null, null)</li>
                        </ul>
        }



