
@{
    ViewBag.Title = "ModificarSede";
}

@section title  {
    <title>Administración de sedes</title>
}
@section header
{
    <div class="page-header">
        <h3>Modificar Sede</h3>
    </div>
}
@section body
    {
    <button type="button" onclick="location.href='@Url.Action("Peliculas", "Administracion")'" class="btn btn-danger">Volver</button>

}







