
@{
    ViewBag.Title = "inicio";
    Layout = "~/Views/Shared/_EstructuraVistaWeb.cshtml";
}

@section title  {
    <title>Administración de reportes</title>
}
@section header
{
<div class="page-header">
    <h3>Gestión de reservas</h3>
</div>}

@section body
    {
                <button type="button" onclick="location.href='@Url.Action("menuPrincipal", "Administracion")'" class="btn btn-danger">Volver</button>

}



