
@{
    ViewBag.Title = "Reportes";
}


@section title  {
    <title>Administración de reportes</title>
}
@section header
{
    <div class="page-header">
        <h3>Gestión de reservas</h3>
    </div>}

@section body
    {
    <button type="button" onclick="location.href='@Url.Action("MenuPrincipal", "Administracion")'" class="btn btn-danger">Volver al Inicio</button>

}




