
@{
    ViewBag.Title = "Sedes";
}

@section title  {
    <title>Administración de sedes</title>
}
@section header{
    <div class="page-header">
        <h3>Gestión de sedes</h3>
    </div>
}
@section body
    {
    Acà iria la lista de sedes y debajo se puede modificar y agregar
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Seleccione una opcion</a></li>
        <li>@Html.ActionLink("Nueva sede", "CrearSede", "Administracion", null, null)</li>
        <li>@Html.ActionLink("Modificar sede", "ModificarSede", "Administracion", null, null)</li>
    </ul>
    <button type="button" onclick="location.href='@Url.Action("MenuPrincipal", "Administracion")'" class="btn btn-danger">Volver</button>
}







