
@{
    ViewBag.Title = "inicio";
    Layout = "~/Views/Shared/_EstructuraVistaWeb.cshtml";
}

@section title  {
    <title>Administración de películas</title>
}
@section header
            {
    <div class="page-header">
        <h3>Confirmación de reserva</h3>
    </div>
}
@section body
    {
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Nombre">Nombre</label>
                    <div class="col-sm-4">
                        
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Duracion">Duración</label>
                    <div class="col-sm-4">

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Descripción">Descripción</label>
                    <div class="col-sm-4">
                        
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Clasificación">Clasificación</label>
                    <div class="col-sm-4">
                        
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Género">Género</label>
                    <div class="col-sm-4">
                        
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="Duracion">Versión</label>
                    <div class="col-sm-4">

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Duracion">Sede</label>
                    <div class="col-sm-4">

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Duracion">Día</label>
                    <div class="col-sm-4">

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Duracion">Hora</label>
                    <div class="col-sm-4">

                    </div>
                </div>
                <div class="col-sm-2">
                    
                    <div class="col-sm-4">
                        <button type="button" onclick="location.href='@Url.Action("inicio", "Home")'" class="btn btn-danger">Volver</button>
                    </div>
                </div>
            </form>

    }