
@{
    ViewBag.Title = "inicio";
    Layout = "~/Views/Shared/_EstructuraVistaWeb.cshtml";
}

@section title  {
    <title>Reserva tu película</title>
}
@section header
            {
    <div class="page-header">
        <h3>Reserva en proceso</h3>
    </div>
}
@section body
    {
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="version">Película elegida</label>
                        <div class="col-sm-4">
                            <p>imagen</p>
                            <p>genero</p>
                            <p>clasificacion</p>
                        </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="version">Versión</label>
                            <div class="col-sm-4">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" name="version">
                                        Seleccione una opción
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">traer datos de lista</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="sede">Sede</label>
                            <div class="col-sm-4">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" name="sede">
                                        Seleccione una opción
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">traer datos de lista</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="dia">Día</label>
                        <div class="col-sm-4">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" name="dia">
                                    Seleccione una dia
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">traer datos de lista</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="hora">Hora</label>
                        <div class="col-sm-4">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" name="sede">
                                    Seleccione una opción
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">traer datos de lista</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="control-label col-sm-2" for="buttons"></label>
                            <button type="button" onclick="location.href='@Url.Action("inicio", "Home")'" class="btn btn-danger">Volver</button>

                            <div class="col-sm-2">
                                <button type="button" onclick="location.href='@Url.Action("confirmacion", "Peliculas")'" class="btn btn-success">Confirmar reserva</button>
                            </div>
                        </div>
</form>

}



